<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href = "/static/ask-question.css"/>
</head>
<body>
    <div id = "nav">
        <div id = "greet" class = "navitems">Hello, <%= user.name %> !</div>
        <button id = "logout" class = "navitems"> Log out</button>
        <div class = "dandi" id = "first"></div>
        <div id = "email"> Emails </div>
        <div class = "dandi"></div>
        <div class= "pages" id = "faq"> FAQ </div>
        <div class = "dandi"></div>
    </div>
    <%for(let i = 0; i < list.length; ++i){%>
       <li><%= list[i].text%>
        <br>
        <a href = "/askQuestion/<%= list[i]._id %>">go to chat</a>
       </li>
    <%}%>
    <form action="/askQuestion" method="POST">
        <label for="questionText">Question:</label>
        <textarea name="questionText" id="questionText" rows="4" required></textarea><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>