<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href ="/static/login.css">
</head>
<body>
    <form action = "/user/registration" method ="POST">
        <label>Name</label>
        <input type="text" name ="name"/>
        <label>Email</label>
        <input type="text" name="email"/>
        <label>ID</label>
        <input type="text" name="id"/>
        <label>Password</label>
        <input type="text" name="password"/>
        <button type="submit">register</button>
    </form>
</body>
</html>