<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/showall.css">
    
</head>

<body>
    <div id="nav">
        <div id="greet" class="navitems">Hello, <%= user.name %> !</div>
        <button id="logout" class="navitems"> Log out</button>
        <div class="dandi" id="first"></div>
        <div id="email"> Emails </div>
        <div class="dandi"></div>
        <div class="pages" id="faq"> FAQ </div>
        <div class="dandi"></div>
        <div class="pages" id="resource">Resource</div>
        <div class="dandi"></div>
        <div class="pages" id="lost">Lost & Found</div>
        <div class="dandi"></div>
    </div>
    <div id="outflex">
        <div id="all-cont">
            <div class="itembox">
                <% for (let i=0; i < items.length; i++) { %>
                    <div class="indi">
                        <div class="comptxt">
                            <div class="single">
                                Email :-<%= items[i].email_id %>
                            </div>
                            <div class="single">
                                Authority :-<%= items[i].authority_name %>
                            </div>
                        </div>
                        <%if(user.name == 'admin'){%>
                              <button onclick="delebutton(event)" class="X">X</button>
                        <%}%>      
                    </div>
                    <% } %>
            </div>
            <% if(user.name == 'admin'){%>
            <div class="indi" id="del">
                <div>
                    <form action="/email/delete" method="POST">
                        <label>Email Id</label>
                        <input name="emailid" type="text" id="emailfield" />
                        <button type="submit" id = "dltbtn">Delete</button>
                    </form>
                </div>
            </div>
            <%}%>
        </div>
        <% if(user.name == 'admin'){%>
        <div id="box">

            <div id="inner">
                <form method="POST" action="/email">
                    <div class="perso">
                        <label>emailid</label>
                    </div>
                    <input type="text" name="emailid" placeholder="example@daiict.ac.in" />
                    <br>
                    <div class="perso">
                        <label>authorityname</label>
                    </div>
                    <input type="text" name="authorityname" />
                    <br>
                    <div class="perso">
                        <button type="submit">Generate</button>
                    </div>
                </form>
            </div>
        </div>
        <%}%>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <script src="/static/showall.js">
    </script>
    
</body>

</html>