<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/registeration.css">
</head>

<body>
    <div class="cover">
        <div class="box">
            <div class="inner">
                <form action="/user/registeration" method="POST">
                    <label>Name</label>
                    <div></div>
                    <input type="text" name="name" required/>
                    <div></div>
                    <label>Email</label>
                    <div></div>
                    <input type="text" name="email" required/>
                    <div></div>
                    <label>ID</label>
                    <div></div>
                    <input type="text" name="id" required/>
                    <div></div>
                    <label>Password</label>
                    <div></div>
                    <input type="text" name="password" required/>
                    <div></div>
                    <button type="submit" id = "reg">register</button>
                    <div></div>
                    <a href="/user/login" id = "link">login</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>