<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/post.css">
</head>

<body>
    <div id="box">
        <div id="inner">
            <form method="POST" action="/">
                <div class="perso">
                    <label>emailid</label>
                </div>
                <input type="text" name="emailid" placeholder="example@daiict.ac.in" />
                <br>
                <div class="perso">
                    <label>authorityname</label>
                </div>
                <input type="text" name="authorityname" />
                <br>
                <div class="perso">
                    <button type="submit">Generate</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>