#box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;

}
#inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
    border-color: aliceblue;
    border-style: dashed;
    background-color: rgb(119, 244, 244);
}
body{
    background-color: rgb(174, 241, 241);
    font-family:cursive;
    font-size: large;
}

input{
    margin: 0vh 0vw 5vh 0vw;
}
.perso{
    display: flex;
    justify-content: center;
    margin:0px;
}
button{
    border-radius: 10px;
    height:40px;
    width:100px;
    font:inherit;
    background-color: rgb(65, 234, 197);
}
button:hover{
    background-color: rgb(62, 243, 155);
}